
<mat-toolbar>Pacientes</mat-toolbar>
<router-outlet></router-outlet>

<mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="idPaciente">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idPaciente}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="nombres">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nombres}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="apellidos">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.apellidos}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" (click)="openDialog(row)">Actualizar</button>
        <button mat-button color="accent" (click)="eliminar(row.idPaciente)">Eliminar</button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" ></mat-paginator>
  
  <button mat-fab color="accent" style="float: right" (click)="openDialog()">
    <mat-icon>create</mat-icon>
  </button>