<div >
    <mat-form-field>
      <input matInput placeholder="Nombres" [(ngModel)]="objMedico.nombres">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Apellidos" [(ngModel)]="objMedico.apellidos">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="CMP" [(ngModel)]="objMedico.cmp">
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
  <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>