<mat-toolbar>Signos Vitales</mat-toolbar>
<router-outlet></router-outlet>
<div class="example-container mat-elevation-z8">

<mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="idSigno">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idSigno}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="paciente">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.paciente.nombres}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.fecha | date:'dd-MM-yyyy HH:mm:ss'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="temperatura">
        <mat-header-cell *matHeaderCellDef mat-sort-header> temperatura </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.temperatura}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="pulso">
      <mat-header-cell *matHeaderCellDef mat-sort-header> pulso </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.pulso}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ritmo">
    <mat-header-cell *matHeaderCellDef mat-sort-header> ritmo </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.ritmo}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" [routerLink] = "['edicion',row.idSigno]">Actualizar</button>
        <button mat-button color="accent" (click)="eliminar(row.idSigno)">Eliminar</button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" ></mat-paginator>
</div>
<br>
  
<button mat-fab color="accent" style="float: right" routerLink="/signovital/nuevo">
  <mat-icon>create</mat-icon>
</button>
